* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "MyFont";
  background: linear-gradient(
    to right,
    rgb(145, 180, 240),
    rgb(160, 220, 210)
  );
}

@font-face {
  font-family: "MyFont";
  src: url("Montserrat-Regular.ttf") format("truetype");
}

header {
  text-align: center;
  padding: 20px;
  color: white;
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
}

.card h2 {
  color: rgb(90, 100, 220);
  margin-bottom: 10px;
}

.wide {
  grid-column: span 1;
}

.full {
  grid-column: span 2;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

input, textarea, select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid rgb(210, 210, 210);
}

.primary-btn {
  margin-top: 10px;
  background: rgb(120, 110, 230);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 6px;
  cursor: pointer;
}

.secondary-btn {
  background: rgb(120, 110, 230);
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
  width: -webkit-fill-available;
}

.actions {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.event-card {
  position: relative;
  background: rgb(245, 247, 255);
  border-left: 4px solid rgb(120, 110, 230);
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: 0.2s ease;
  flex: 1 1 240px;
  max-width: 300px;
}

.event-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  border: none;
  background: rgb(220, 60, 60);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease;
}

.delete-btn:hover {
  background: rgb(180, 30, 30);
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.empty {
  color: gray;
  font-size: 14px;
}

.dom-box {
  background: rgb(245, 247, 255);
  padding: 12px;
  border-radius: 6px;
  font-size: 14px;
  box-shadow: 1px 1px 1px 1px ;
}

.key {
  margin-top: 8px;
  color: rgb(120, 110, 230);
}

.primary-btn, .secondary-btn {
  transition: all 0.25s ease;
}

.primary-btn:hover, .secondary-btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0,0,0,0.2);
  opacity: 0.95;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
  }
  .full {
    grid-column: span 1;
  }
}